@font-face {
    font-family: "fraunces";
    src: url(../prueba02/fonts/Fraunces.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(../prueba02/fonts/Roboto.ttf);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0%;
    font-family: "roboto";
}

.container--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "fraunces";
}
.main-header {
    padding: 10px;
}
.main-title{
    color: white;
}
.color-span {
    color: #EEAD33;
}
.icon-menu {
    font-size: 1.5em;
    color: #EEAD33;
    border: 1px solid white;
    display: block;
    padding: 5px 12px;
    border-radius: 5px;
}
.menu {
    display: none;
}
.banner {
    background: url(../prueba02/images/image1.jpg);
    min-height: 350px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -999;
}
.banner::before {
    content: "";
    width: 100%;
    min-height: 350px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0%;
    left: 0%;
}
.banner__content {
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 15%;
    transform: translateX(-50%) translateY(-50);
    color: white;
    font-size: 1.5em;
}
