@font-face {
    font-family: "fraunces";
    src: url(../web-guide/fonts/Fraunces.ttf);
}
@font-face {
    font-family: "roboto";
    src: url(../web-guide/fonts/Roboto.ttf);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0%;
    font-family: "roboto";
}
img {
    display: block;
    max-width: 100%;
}
.container--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "fraunces";
}
.main-header {
    padding: 10px;
}
.main-title{
    color: white;
}
.color-span {
    color: #EEAD33;
}
.icon-menu {
    font-size: 1.5em;
    color: #EEAD33;
    border: 1px solid white;
    display: block;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.menu {
    position: absolute;
    top: 70px;
    left: 0%;
    background: #212121;
    width: 100%;
    list-style: none;
    padding: 20px;
    margin: 0%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
}
.menu__item {
    padding: 20px;
    text-align: center;
    width: 150px;
    margin: auto;
}
.menu__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}
.menu__link::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-right: 2px solid #EEAD33;
    border-top: 2px solid #EEAD33;
    top: 0;
    right: 0;
    opacity: 0;
}
.menu__link::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-left: 2px solid #EEAD33;
    border-bottom: 2px solid #EEAD33;
    bottom: 0;
    left: 0;
    opacity: 0;
}
.menu__link span::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-left: 2px solid #EEAD33;
    border-top: 2px solid #EEAD33;
    top: 0;
    left: 0;
    opacity: 0;
}
.menu__link span::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-bottom: 2px solid #EEAD33;
    border-right: 2px solid #EEAD33;
    bottom: 0;
    right: 0;
    opacity: 0;
}
.menu__link span {
    padding: 12px;
    display: block;
}
.menu__link--select::before, .menu__link--select::after, .menu__link--select span::before, .menu__link--select span::after {
    opacity: 1;
}
.menu__item:hover .menu__link::before, .menu__item:hover .menu__link::after, .menu__item:hover .menu__link span::before, .menu__item:hover .menu__link span::after {
    opacity: 1;
}
.nav-social {
    display: flex;
    justify-content: center;
}
.nav-social__item {
    width: 35px;
    height: 20px;
    display: block;
    text-align: center;
    font-size: 1.5em;
}
.fa-facebook {
    color: #3b5998;
}
.fa-twitter-square {
    color: #00acee;
}
.fa-dribbble-square {
    color: #ea4c89;
}
.mostrar {
    opacity: 1;
    visibility: visible;
}
.banner {
    background: url(../web-guide/images/image1.jpg);
    min-height: 350px;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -999;
}
.banner::before {
    content: "";
    width: 100%;
    min-height: 350px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0%;
    left: 0%;
}
.banner__content {
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 15%;
    transform: translateX(-50%) translateY(-50);
    color: white;
    font-size: 1.5em;
}
.main {
    margin-top: 250px;
}
.welcome {
    text-align: center;
    padding: 20px;
}
.welcome__title {
    font-size: 2em;
    position: relative;
}
.welcome__title::before {
    content: "";
    width: 25%;
    position: absolute;
    top: -20px;
    left: 37%;
    height: 3px;
    background: #EEAD33;
}
.welcome__txt {
    margin-bottom: 50px;
    font-size: 1.3em;
    color: #777;
}
.welcome__btn {
    display: block;
    border: 2px solid #EEAD33;
    border-radius: 5px;
    width: 200px;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    color: #EEAD33;
    font-size: 1.3em;
    font-weight: bold;
    transition: all 0.5s;
}
.welcome__btn:hover {
    background: #EEAD33;
    color: white;
}
.container-design {
    margin: 20px 0;
}
.design__item {
    position: relative;
}
.design__item::before {
    width: 100%;
    min-height: 350px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0%;
    left: 0%;
}
.design__title {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateX(-50) translateY(-50);
    color: white;
    font-size: 1.8em;
    text-align: center;
}
.design__title::before {
    content: "";
    width: 40%;
    position: absolute;
    top: -20px;
    left: 37%;
    height: 1px;
    background: #EEAD33;
}
.design__title::after {
    content: "";
    width: 40%;
    position: absolute;
    bottom: -20px;
    left: 37%;
    height: 1px;
    background: #EEAD33;
}
